
/* 分期支付 */
.installmentsBox {
    background: #fff;
}
.installmentsTitle {
    position: relative;
    height: .9rem;
    font-size: .28rem;
    line-height: .9rem;
}
.installmentsText {
    position: absolute;
    top: 0;
    left: .2rem;
}
.installmentsPrice {
    position: absolute;
    right: .24rem;
}
