
/* 分期方式 */
.installmentsUl li {
    position: relative;
    padding-left: .9rem;
    height: .9rem;
    border-bottom: 1px solid #f0ebf0;
}
.installmentsBtn {
    position: absolute;
    top: 0;
    left: 0;
    width: .88rem;
    height: 100%;
    background: #cacaca;

}
.installmentsUl li>p {
    height: .46rem;
    font-size: .28rem;
    line-height: .46rem;

}
.installmentsBtn {
    background: url('../../../images/installments-btn.png') no-repeat center;
    background-size: 50%;
}
.installmentsBtnActive {
    background: url('../../../images/installments-btn-active.png') no-repeat center;
    background-size: 50%;

}
.installmentsListInfo {
    color: rgba(115, 115, 115, 1);
}
