
.confirmPayment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: .9rem;
    font-size: .36rem;
    line-height: .9rem;
    text-align: center;
    color: #fff;
    background: #f24129;
}
