
.cont {
    // height: .225rem;
}
.orderAmount {
    background: #fff;
    padding: 0 .1rem;
    height: .1rem;
    line-height: .2rem;
    font-size: .7rem;
}

.aa {
    color: #000;
}
