.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  height: 0.9rem;
  line-height: 0.9rem;
  overflow: hidden;
  background-color:#fff;
}

.navbarLeft, .navbarRight, .navbarTitle {
  float: left;
  display: inline-block;
}

.navbarLeft {
  height:100%;
  font-size: 0.36rem;
}

.navbarTitle {
  float: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.36rem;
  white-space: nowrap;
}

.navbarRight {
  float: right;
  font-size: .32rem;
  margin-right: .3rem;
  padding-top: .1rem;
}

.navbarLeftIcon, .navbarRightIcon {
  display: inline-block;
  cursor: pointer;
}

.trsBtn {
    width: .9rem;
    height: 100%;
    background-color: rgba(0,0,0,0);
}
.navbarLeftIcon{
  width: .45rem;
  height: 100%;
  background:url('../../../images/back-icon-black.png') no-repeat center center;
  background-size: 50%;
  margin-left: .06rem;
}

.dark {
  color: #646464;
}

.iosTopBar {
  width: 100%;
  height: .4rem;
  background-color: #000;
}

.help {
  display: inline-block;
  width: .2rem;
  height: .2rem;
  background:url('../../../images/help.png') no-repeat center center;
  background-size: 100% 100%;
  margin-top: .04rem;
}

.fh {
  height: 0.9rem;
}