
.info {
  margin: .2rem auto;
  width: 93%;
  line-height: .4rem;
  color: rgba(94, 91, 94, 1);
  font-size: .28rem;
  text-align: left;
  font-family: Arial;
}

.cont {
  padding: .24rem .52rem .2rem .2rem;
  background: #fff;
  .text {
    line-height: .46rem;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
  }
  .area {
    position: relative;
    margin: 0 1rem 0 1.95rem;
    height: 0.9rem;
    border-bottom: .01rem dashed #000;
    span {
      display: inline-block;
      vertical-align: top;
      font-size: .42rem;
      line-height: .5rem;
    }

    input {
      display: inline-block;
      padding: 0 .2rem;
      text-align: left;
      vertical-align: top;
      font-size: .56rem;
      line-height: .7rem;
      width: 82%;
      border: none;
      color: #3693FD;
    }
    input::-webkit-input-placeholder {
      color: #3693FD;
    }
    .write {
      position: absolute;
      top: 0;
      right: -1rem;
      width: 1rem;
      font-size: .28rem;
      line-height: .9rem;
    }
  }
  
}